<nav class="UnderlineNav UnderlineNav--right">
    <div class="UnderlineNav-body">
        {% if page.title != "Home" %}
          <a class="UnderlineNav-item" href="{{ site.url }}/">Home</a>
        {% endif %}

        {% if site.now == true %}
            {% if page.title == "Home" %}
               {% if page.title != "Now" %}
                <a class="UnderlineNav-item" href="{{ site.url }}/now">Now</a>
                {% endif %}
            {% endif %}
        {% endif %}

        {% if site.blog == true %}
            {% if page.title != "Blog" %}
              <a class="UnderlineNav-item" href="{{ site.url }}/blog">Blog</a>
            {% endif %}
        {% endif %}

        {% if site.projects == true %}
            {% if page.title != "Projects" %}
              <a class="UnderlineNav-item" href="{{ site.url }}/projects">Projects</a>
            {% endif %}
        {% endif %}

        {% if site.publications == true %}
            {% if page.title != "Publications" %}
              <a class="UnderlineNav-item" href="{{ site.url }}/publications">Publications</a>
            {% endif %}
        {% endif %}

        {% if site.about == true %}
            {% if page.title != "About" %}
              <a class="UnderlineNav-item" href="{{ site.url }}/about">About</a>
            {% endif %}
        {% endif %}

        {% if site.resume == true %}
          <a class="UnderlineNav-item" href="{% if site.resume-external %}{{ site.resume-url }}{% else %}{{ site.url }}/{{ site.resume-url }}{% endif %}">Résumé</a>
        {% endif %}
    </div>
</nav>
